html{
  font-size: 1rem ;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.3rem;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100%;
}

header{
  grid-area: 'header';
  background-color: black;
}
main{
  grid-area: 'main';
  padding:1rem;
}
footer{
  grid-area: 'footer';
  background-color: black;
  color: white;
}

h1{
  font-size: 1.8rem;
  padding: 0.3rem 0rem;
}
h2{
  font-size: 1.6rem;
  padding: 0rem 0rem;
}

a{
  text-decoration: none;
}

a:hover{
  color: yellow;
}

ul{
  padding : 0;
  margin : 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}

header a {
  color: white;
  padding: 0.5rem;
}

a.brand{
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

button {
  border: 0.1rem lightgrey solid;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-family: Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  cursor: pointer;
}
button:hover{
  border-color: grey;
}

button.purchase{
  background-color: goldenrod;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.centre{
  justify-content: center;
}

.row.top{
  align-items: top;
}

.col-1{
  flex : 1 1 20rem;
}

.col-2{
  flex : 2 1 40rem;
}

.lister{
  justify-content: flex-start ;
}

img{
  border-radius: 0.5rem;
}
img.large{
max-width: 40rem;
}
img.medium{
  max-width: 20rem;
  width: 100%;
}

.card{
  border: 0.1rem gray solid;
  background-color: lightgray;
  border-radius: 0.5rem;
  margin : 1rem;
}
.cardbody{
  padding: 1rem;
}
.cardbody > * {
  margin-bottom: 0.5rem;
}

.price{
color: #353535;
font-weight: bold;
}

.rating span{
  color:goldenrod;
}

.rating span:last-child{
  color: grey;
  font-size: 1rem;
}

.success{
  color: #20a020;
}
.error{
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 00.5rem;
}
.alert-info{
  color: darkblue;
  background-color: lightsteelblue;
}
.alert-problem{
  color: red;
  background-color:thistle;
}
button.block{
  width: 100%;
}